#root{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#1f3864;
  padding: 10px 20px;
}
.stats-bar{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  flex-wrap: wrap;
  color: white;
  background-color: #1f3864;
}
li{
  padding: 10px
}
.applicationForm{
  background-color: #1f3864;
  color: white;
  border-radius: 10px;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
  
}
.addApplication{
  background-color: #2563EB;
  font-weight: 600;
  font-size: medium;
  border: none;
  border-radius: 10px;
  padding: 7px 20px;
  color: white;
}
.addApplication:hover{
  cursor: pointer
}

.inputBox{
  width: 140px;
}

.formContainer{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  gap: 16px;
  padding: 15px;
}
.formLabel{
  font-size: 15px;
}
.formDiv{
  display: flex;
  flex-direction: column;
}
.my-thead{
  border: green 1px solid;
  background-color: #1f3864;
  color: white;
  border-radius:10px;
  margin: 15px;
}
.my-table{
  width: 100%;
  border-collapse: collapse;
  
  border: #1f3864 1px solid;
  border-radius: 10px;
}
.my-tr{
  border-bottom: gray 2px solid;
  
  /* background-color: red; */
}
.my-tr td {
  padding: 12px;
  /* border-right: 1px solid green;  */
  text-align: left;
}
.my-tbody{
  border: #1f3864 solid 1px;
}

.sign-in-form{
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  border: #1f3864 1px dotted;
  padding: 20px;
  align-items: center;
  font-size: 13px;
  gap: 20px;
}
.register-form{
  display: flex;
}

.testtest{
  display: grid;
  
}
.realreal{
  display: flex;
  justify-content: center;
}
