#root{
  font-family: 'Courier New', Courier, monospace;
}
.stats-bar{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  flex-wrap: wrap;
}
li{
  padding: 10px
}